* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 1.5rem;
}

.container {
  width: 100%;
  max-width: 75rem;
  margin: 2rem auto;
}

.container li {
  list-style: none;
  margin: 2rem 0;
}

.container li a {
  text-decoration: none;
  color: black;
}

.container li a:hover {
  color: coral;
}

.container.details {
  margin-top: 5rem;
}

.container.details h2,
.container.details h3 {
  color: gray;
  margin: 1.5rem 0;
  text-align: center;
}

.container.details h2 span,
.container.details h3 span {
  color: black;
}

