// RESET \\
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 1.5rem;
}

.container  {
    width: 100%;
    max-width: 75rem;
    margin: 2rem auto;

    li {
        list-style: none;
        margin: 2rem 0;
        
        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: coral;
            }
        }
    }

    &.details {
        margin-top: 5rem;

        h2, h3 {
            color: gray;
            margin: 1.5rem 0;
            text-align: center;

            span {
                color: black;
            }
        }
    }
}